.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__avatar-container {
  position: relative;
  margin-right: 20px;
}

.profile__avatar-btn {
  position: absolute;
  width: 100%;
  height: 100%;

  cursor: pointer;
  background: transparent;
  border-style: none;
  border-radius: 8px;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #ffffff;
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.5);
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  opacity: 0.7;
  font-size: 16px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__edit-btn {
  margin-top: auto;
  background-color: transparent;
  border-style: none;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  display: flex;
  justify-content: left;
  color: rgb(33, 33, 33);
  opacity: 0.7;
}

.profile__edit-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__add-btn {
  display: flex;
  justify-content: center;
  border-style: none;
  align-items: center;
  border-style: none;
  margin-left: auto;
  margin-top: auto;
  width: 149px;
  height: 52px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  padding: 18px 32px;
  gap: 8px;
  border-radius: 8px;
  background: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  white-space: nowrap;
}

.profile__add-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__pencil-icon {
  margin-top: auto;
  background-color: transparent;
  border-style: none;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  display: flex;
  justify-content: left;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }

  .profile__avatar-btn {
    visibility: visible;

    /* background-color: rgba(33, 33, 33, 0.6); */
  }

  .profile__avatar-container:hover .profile__avatar-btn {
    cursor: pointer;
    transition: none;
    background: none;
  }

  .profile__avatar-btn::after {
    content: "";
  }

  .profile__avatar-container {
    margin: 0;
  }

  .profile__name {
    font-size: 20px;
    font-weight: 500;
    max-width: 288px;
  }

  .profile__description {
    max-width: 288px;
  }

  .profile__edit-btn {
    font-size: 16px;
    font-weight: 500;
    margin: 32px auto 20px;
    justify-content: center;
  }

  .profile__add-btn {
    margin: 0;
    width: 288px;
    height: 52px;
    gap: 8px;
  }

  .profile__pencil-icon {
    background-color: rgba(33, 33, 33, 0.6);
    display: flex;
    height: 18px;
    justify-content: center;
    margin: 5px 10px;
    width: 18px;

    align-items: center;
    position: absolute;
    top: 45px;
    right: -8px;
    border-radius: 8px;
    padding: 3px;
    visibility: visible;
  }
}
